* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-container {
  background-color: #f4faff;
  padding: 20px;
  text-align: center;
}

.bg-container h1 {
  color: #171f46;
  font-size: 40px;
  font-family: 'Roboto';
  margin-bottom: 20px;
  margin-top: 20px;
}

.bg-container p {
  color: #64748b;
  font-size: 18px;
  font-family: 'Roboto';
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ul-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
